<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增裸机')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bare-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">分类：</label>
                <div class="col-sm-8">
                    <select name="bareClass" class="form-control m-b" th:with="type=${@dict.getType('pro_bare_class')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                    <select name="bareType" class="form-control m-b" th:with="type=${@dict.getType('pro_bare_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">CPU/芯片：</label>
                <div class="col-sm-8">
                    <input name="bareCpu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品简述：</label>
                <div class="col-sm-8">
                    <input name="bareDescribe" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">裸机型号：</label>
                <div class="col-sm-8">
                    <input name="bareBareModel" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">台北：</label>
                <div class="col-sm-8">
                    <input name="barePrice1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">白金：</label>
                <div class="col-sm-8">
                    <input name="barePrice2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专营：</label>
                <div class="col-sm-8">
                    <input name="barePrice3" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">特约：</label>
                <div class="col-sm-8">
                    <input name="barePrice4" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属：</label>
                <div class="col-sm-8">
                    <input name="bareBelong" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">cost：</label>
                <div class="col-sm-8">
                    <input name="bareCost" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成本(含税)：</label>
                <div class="col-sm-8">
                    <input name="bareCostTax" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">GP-台北：</label>
                <div class="col-sm-8">
                    <input name="bareGp1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">GP-白金：</label>
                <div class="col-sm-8">
                    <input name="bareGp2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">GP-专营：</label>
                <div class="col-sm-8">
                    <input name="bareGp3" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">GP-特约：</label>
                <div class="col-sm-8">
                    <input name="bareGp4" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="bareReserve" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留1：</label>
                <div class="col-sm-8">
                    <input name="bareReserve1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留2：</label>
                <div class="col-sm-8">
                    <input name="bareReserve2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留3：</label>
                <div class="col-sm-8">
                    <input name="bareReserve3" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留4：</label>
                <div class="col-sm-8">
                    <input name="bareReserve4" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留5：</label>
                <div class="col-sm-8">
                    <input name="bareReserve5" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "production/bare"
        $("#form-bare-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-bare-add').serialize());
            }
        }
    </script>
</body>
</html>